/** Sobre Nosotros Mobile**/
@media only screen and (min-width:0px) and (max-width:767px){
    .about-us {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url("../assets/img/banners/banner-acuarela.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 1%;
        margin: 10px;
        h1 {
            font-weight: bolder;
            font-size: 25px;
            padding: 25px;
        }
        .about {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .about-texto{
                width: 80%;
                align-self: center;
                text-align: justify;
                box-shadow: rgb(20, 20, 20) 5px 4.5px;
                border-radius: 15px;
                border: solid 3px rgb(20, 20, 20);
                background-image: linear-gradient(to right top, #f9fbfb, #ddf3f4, #c0ecef, #a1e3eb, #7edbe8, #63d3ea, #42cbed, #00c2f0, #00b7f7, #00aafc, #009cfe, #438cfb);
                padding: 25px;
                margin: 15px;
                h2 {
                    padding: 15px;
                    text-align: center;
                    font-size: 15px;
                }
                p {
                    font-size: 12px;
                    font-weight: bold;
                    color: black;
            
                }

            }
            .img-about{
                width: 200px;
                height: 150px;
                margin: 5%;
                border-radius: 3%;
                box-shadow: rgb(20, 20, 20) 1px 2.5px;
                border-radius: 15px;
                border: solid 3px rgb(20, 20, 20);
                
            }
           
        }

        
        
    
    }
}
/** Sobre Nosotros Tablet**/
@media screen and (min-width: 768px){
    .about-us {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url("../assets/img/banners/banner-acuarela.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 2%;
        margin: 10px;
        h1 {
            font-weight: bolder;
            font-size: 25px;
            padding: 25px;
        }
        .about {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .about-texto{
                width: 80%;
                align-self: center;
                text-align: justify;
                box-shadow: rgb(20, 20, 20) 5px 4.5px;
                border-radius: 15px;
                border: solid 3px rgb(20, 20, 20);
                background-image: linear-gradient(to right top, #f9fbfb, #ddf3f4, #c0ecef, #a1e3eb, #7edbe8, #63d3ea, #42cbed, #00c2f0, #00b7f7, #00aafc, #009cfe, #438cfb);
                padding: 25px;
                margin: 15px;
                h2 {
                    padding: 15px;
                    text-align: center;
                    font-size: 15px;
                }
                p {
                    font-size: 12px;
                    font-weight: bold;
                    color: black;
            
                }

            }
            .img-about{
                width: 300px;
                height: 200px;
                margin: 5%;
                border-radius: 3%;
                box-shadow: rgb(20, 20, 20) 1px 2.5px;
                border-radius: 15px;
                border: solid 3px rgb(20, 20, 20);
                
            }
           
        }
    
    }
}
/** Sobre Nosotros Desktop**/
@media screen and (min-width:1024px){
    .about-us {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
            font-weight: bolder;
            font-size: 45px;
            padding: 25px;
            margin: 30px;
        }
        .about {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .about-texto{
                width: 80%;
                align-self: center;
                text-align: justify;
                box-shadow: rgb(20, 20, 20) 5px 4.5px;
                border-radius: 15px;
                border: solid 3px rgb(20, 20, 20);
                background-image: linear-gradient(to right top, #f9fbfb, #ddf3f4, #c0ecef, #a1e3eb, #7edbe8, #63d3ea, #42cbed, #00c2f0, #00b7f7, #00aafc, #009cfe, #438cfb);
                padding: 25px;
                margin: 15px;
                h2 {
                    padding: 15px;
                    text-align: center;
                    font-size: 15px;
                }
                p {
                    font-size: 12px;
                    font-weight: bold;
                    color: black;
            
                }

            }
            .img-about{
                width: 350px;
                height: 250px;
                margin: 5%;
                border-radius: 3%;
                box-shadow: rgb(20, 20, 20) 1px 2.5px;
                border-radius: 15px;
                border: solid 3px rgb(20, 20, 20);
                
            }
           
        }
    
    }
}