/** Galeria Mobile**/
@media only screen and (min-width:0px) and (max-width:767px) {
    .galeria{
        display: grid;
        grid-template-areas:
            "h1"
            "picture"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-items: center;
        background-image: url("../assets/img/banners/banner-acuarela.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 1%;
        margin: 10px;
        padding: 20px;
        h1 {

            grid-area: h1;
    
    
        }
        picture {
            grid-area: picture;
    
        }
    }
    .fotos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

       
        img {

            width:200px;
            height: 150px;
            border: 1px solid black;
            margin: 2%;
            
        }
    }
}

/** Galeria Tablet**/
 @media screen and (min-width: 768px) {
.galeria{
    display: grid;
    grid-template-areas:
        "h1 "
        "picture"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    background-image: url("../assets/img/banners/banner-acuarela.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
    border-radius: 3%;
    
    h1 {

        grid-area: h1;
        padding: 45px;


    }
    picture {
        grid-area: picture;
        display: grid;
        grid-template-areas:
            "galeria-1 galeria-2"
            "galeria-3 galeria-4"
            "galeria-5 galeria-6"
            "galeria-7 galeria-8"
            "galeria-9 galeria-10"
        ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        justify-items: center;

    }

}
.galeria-1 {
    grid-area: galeria-1;
}

.galeria-2 {
    grid-area: galeria-2;
    width: 100%;
}

.galeria-3 {
    grid-area: galeria-3;
}

.galeria-4 {
    grid-area: galeria-4;
}

.galeria-5 {
    grid-area: galeria-5;
}

.galeria-6 {
    grid-area: galeria-6;
}
.galeria-7 {
    grid-area: galeria-7;
}
.galeria-8 {
    grid-area: galeria-8;
}
.galeria-9 {
    grid-area: galeria-9;
}
.galeria-10 {
    grid-area: galeria-10;
}
.fotos {
    justify-self: center;
    width: 100%;
    img {

        width: 300px;
        height: 200px;
        border: 1px solid black;
        margin: 4%;
        margin-bottom: 10%;


    }
    img:hover {
        -webkit-transition: all 1s ease-out;
        transition: all 1s ease-out;
        -webkit-transform: scale(1.07);
        transform: scale(1.07);
        max-width: 100%;
        border: rgba(6, 2, 2, 0.938) solid 5px;
        padding: 0px;
    }
}
}
/** Galeria Desktop**/
 @media screen and (min-width:1024px) {

    .galeria {
        display: grid;
        grid-template-areas:
            "h1 "
            "picture"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-items: center;
        background-image: url("../assets/img/banners/banner-acuarela.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        margin: 10px;
        border-radius: 3%;
        h1 {

            grid-area: h1;
            padding: 25px;
            font-size: 50px;
            font-family: 'Playfair Display', serif;
            color: black;
    
    
    
        }
        picture {
            grid-area: picture;
            display: grid;
            grid-template-areas:
            "galeria-1 galeria-2"
            "galeria-3 galeria-4"
            "galeria-5 galeria-6"
            "galeria-7 galeria-8"
            "galeria-9 galeria-10"
            ;
            grid-gap: 25px;
            margin-bottom: 25px;
            justify-items: center;
    
        }
    }
    .galeria-1 {
        grid-area: galeria-1;
    }

    .galeria-2 {
        grid-area: galeria-2;
        
    }

    .galeria-3 {
        grid-area: galeria-3;
    }

    .galeria-4 {
        grid-area: galeria-4;
    }

    .galeria-5 {
        grid-area: galeria-5;
    }

    .galeria-6 {
        grid-area: galeria-6;
    }
    .galeria-7 {
        grid-area: galeria-7;
    }
    .galeria-8 {
        grid-area: galeria-8;
    }
    .galeria-9 {
        grid-area: galeria-9;
    }
    .galeria-10 {
        grid-area: galeria-10;
    }

    .fotos {
        justify-self: center;
        width: 100%;
        padding: 0% 5% 0% 5%;
        img {

            width: 400px;
            height: 300px;
            border: 1px solid black;
            margin: 8%;
            margin-bottom: 10%;
    
        }
        img:hover {
            -webkit-transition: all 1s ease-out;
            transition: all 1s ease-out;
            -webkit-transform: scale(1.07);
            transform: scale(1.07);
            max-width: 100%;
            border: rgb(5, 3, 3) solid 5px;
            padding: 0px;
        }
    }
  }