/** Sobre Nosotros Boton Mobile**/
@media only screen and (min-width:0px) and (max-width:767px){
    .contacto{
        form{
            button{
                @include boton;
                font-size: 12px;
            }
           
        }
    }
    .section-4{
        .habitacion-1{
            div{
                a{
                    button{
                        @include boton2;
                    }
                    
    
                }
            }

        }
        .habitacion-2{
            div{
                a{
                    button{
                        @include boton2;
                    }
    
                }
            }

        }
        .habitacion-3{
            div{
                a{
                    button{
                        @include boton2;
                    }
    
                }
            }

        }
       
    }
       .hotel-1 {
        
        div{
           
            a{
                
                button{
                @include boton2;
                }

            }
            
        }
    
}
.hotel-3 {
        
    div{
       
        a{
            
            button{
            @include boton2;
            }

        }
        
    }

}
.hotel-2 {
        
    div{
       
        a{
            
            button{
            @include boton2;
            }

        }
        
    }

}
}

/** Sobre Nosotros Boton Tablet**/
@media screen and (min-width: 768px){
    .contacto{
        form{
            button{
               @include boton;
               font-size: 15px;
            }
        }
    }
    .section-4{
        .habitacion-1{
            div{
                a{
                    button{
                        @include boton2;
                    }
                    
    
                }
            }

        }
        .habitacion-2{
            div{
                a{
                    button{
                        @include boton2;
                    }
    
                }
            }

        }
        .habitacion-3{
            div{
                a{
                    button{
                        @include boton2;
                    }
    
                }
            }

        }
       
    }
    .hotel-1 {
        
        div{
           
            a{
                
                button{
                @include boton2;
                }

            }
            
        }
    
}
.hotel-3 {
        
    div{
       
        a{
            
            button{
            @include boton2;
            }

        }
        
    }

}
.hotel-2 {
        
    div{
       
        a{
            
            button{
            @include boton2;
            }

        }
        
    }

}
}
/** Sobre Nosotros Boton Desktop**/
@media screen and (min-width:1024px){
    .contacto{
        form{
            button{
                @include boton;
                font-size: 20px;
            }
        }
    }
    .section-4{
        .habitacion-1{
            div{
                a{
                    button{
                        @include boton2;
                    }
                    
    
                }
            }

        }
        .habitacion-2{
            div{
                a{
                    button{
                        @include boton2;
                    }
    
                }
            }

        }
        .habitacion-3{
            div{
                a{
                    button{
                        @include boton2;
                    }
    
                }
            }

        }
       
    }
    .hotel-1 {
        
        div{
           
            a{
                
                button{
                @include boton2;
                }

            }
            
        }
    
}
.hotel-3 {
        
    div{
       
        a{
            
            button{
            @include boton2;
            }

        }
        
    }

}
.hotel-2 {
        
    div{
       
        a{
            
            button{
            @include boton2;
            }

        }
        
    }

}
} 
 