/** Sobre Nosotros Boton Mobile**/
@media only screen and (min-width:0px) and (max-width:767px){
    .contacto{
        form{
            button{
                @include boton;
                font-size: 12px;
            }
           
        }
    }
}
/** Sobre Nosotros Boton Tablet**/
@media screen and (min-width: 768px){
    .contacto{
        form{
            button{
               @include boton;
               font-size: 15px;
            }
        }
    }
}
/** Sobre Nosotros Boton Desktop**/
@media screen and (min-width:1024px){
    .contacto{
        form{
            button{
                @include boton;
                font-size: 20px;
            }
        }
    }
}